#timer {
  color: rgb(83, 83, 144);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer-logo {
  height: 2rem;
  width: 2rem;
  margin-right: 0.1rem;
}

/* media queries */
@media screen and (min-width: 700px) and (max-width: 925px) {
  #timer {
    font-size: 1.6rem;
  }
  #timer-logo {
    height: 1.6rem;
    width: 1.6rem;
  }
}

@media screen and (min-width: 70px) and (max-width: 700px) {
  #timer {
    font-size: 1.4rem;
  }
  #timer-logo {
    height: 1.4rem;
    width: 1.4rem;
  }
}
